<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <style>
    h1{
      color: white;
      padding: 1rem;
      background-color: gold;
      text-align: center;
    }
    a{
      text-decoration: none;
      font-size: 1.0rem;
    }
    p{
        font-size: 1.0rem;
    }
  </style>
</head>
<body>
  <h1>GrowthSpring</h1>
  <h2>Password Reset</h2>
  <p>We received a request to change your passsword</p>
  <a href="localhost/auth/set-new-password/<%=token %>/<%=password1 %>">Change password</a>
  <p>Don't recognize this activity? <a href="localhost/auth/reset-password-report/<%=token %>"> Report</a></p>
  <p>Password reset link will expire in 3 days</p>
</body>
</html>